html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Body Wrap */
body {
    background-color: #F7CAC9;
    font-family: 'Patrick Hand', Arial;
    text-align: center;
    padding: 10px 50px;
    margin:0 auto;
    width:800px;
}
/* For all button */
button {
    font-family: 'Patrick Hand', Arial;
    border: none;
    background-color: #F7CAC9;
}
/* Header start */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.headerLeftSide p {
    font-size: 25px;
}
.headerLeftSide p::before {
    content:'';
    /* https://www.flaticon.com/search?word=timer&type=icon */
    background-image: url(image/timer.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
    width:25px;
    height:25px;
    margin-right: 5px;
}
.headerRightSide {
    display: flex;
}
.themeChanging,
.languageChanging {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.themeDropdown,
.languageDropdown {
    display:none;
    position: absolute;
}
.themeDropdown li,
.languageDropdown li {
    list-style: none;
    width:150px;
    text-align: left;
}
.themeChanging .themeLogo::before {
    content:'';
    background-image: url(image/theme.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.languageButton::before {
    content:'';
    background-image: url(image/language.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.themeDropdown ul,
.languageDropdown ul {
    margin-top: 5px;
}
.greenThemeSpan {
    background-color:#A0DAA9;
    display: inline-block;
    background-size: 100%;
    width:10px;
    height:10px;
    margin-right: 5px;
}
.blueThemeSpan {
    background-color:#b3cee5;
    display: inline-block;
    background-size: 100%;
    width:10px;
    height:10px;
    margin-right: 5px;
}
.pinkThemeSpan {
    background-color:#F7CAC9;
    display: inline-block;
    background-size: 100%;
    width:10px;
    height:10px;
    margin-right: 5px;
}
.englishLanguage button::before {
    content:'';
    background-image: url(image/english.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.chineseLanguage button::before {
    content:'';
    background-image: url(image/chinese.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.themeChanging:hover .themeDropdown {
    display: block;
    left: -50px;
}
.languageChanging:hover .languageDropdown {
    display: block;
    left: -50px;
}
/* Header end */
/* Main quick access button start */
.quickAccessButton {
    display: flex;
    justify-content: space-evenly;
}
.lunchTime,
.coffeeTime {
    margin-right:25px;
}
.lunchTime::before {
    content:'';
    background-image: url(image/lunchtime.png);
    display: inline-block;
    background-size: 100%;
    width:20px;
    height:20px;
    margin-right: 5px;
}
.workBreak::before {
    content:'';
    background-image: url(image/workbreak.png);
    display: inline-block;
    background-size: 100%;
    width:20px;
    height:20px;
    margin-right: 5px;
}
.coffeeTime::before {
    content:'';
    background-image: url(image/coffeetime.png);
    display: inline-block;
    background-size: 100%;
    width:20px;
    height:20px;
    margin-right: 5px;
}
.pomodoro::before {
    content:'';
    background-image: url(image/pomodoro.png);
    display: inline-block;
    background-size: 100%;
    width:20px;
    height:20px;
    margin-right: 5px;
}
/* Main quick access button end */
/* Main time screen start */
.timeScreen {
    display: flex;
    justify-content: center;
    margin:20px auto;
    background-image: url(image/clockbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.timeScreen p {
    font-size: 100px;
}
/* Main time screen end */
/* Main control panel start */
.startButton::before {
    content:'';
    background-image: url(image/start.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.clearupButton::before {
    content:'';
    background-image: url(image/cleanup.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.reduceTime::before {
    content:'';
    background-image: url(image/reduce.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.addTime::before {
    content:'';
    background-image: url(image/add.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.startButton, 
.clearupButton,
.reduceTime,
.addTime {
    margin: 0 5px 20px;
}

.timeSettingButton {
    display: flex;
    justify-content: space-evenly;
}
/* Main control panel end */
/* Main time input start */
.inputTime {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#inputMinute,
#inputSecond {
    width:30px;
    height: 25px;
}
.inputTime input {
    height: 25px;
    margin-left: 5px;
    font-family: 'Patrick Hand', Arial;
    border-radius: 0;
    border-style: solid;
    background-color: rgb(239, 225, 206);
}
.inputTime div p {
    height: 25px;
    display: inline;
}
.timeType div p {
    margin-right: 5px;
}
.colonSpace {
    margin-left: 5px;
}
.timeType {
    display: flex;
}
/* Main time input end */
/* Main log part start */
.logSection {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.eventLog {
    background-color: rgba(239, 225, 206, 0.7);
}
.eventLog>p::before {
    content:'';
    background-image: url(image/eventlog.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.cleanLog::before {
    content:'';
    background-image: url(image/logrefresh.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
.cleanLog {
    display:none;
    margin: 10px 0;
}
.eventLog li {
    display:flex;
    justify-content: center;
    list-style: none;
}
.cleanLogDiv {
    display:flex;
    justify-content: center;
}
.importantButton {
    margin: 15px 0 15px 20px;
    background-color: #F7CAC9; 
}
.importantstyle p:after{
    /* For the adding element important mark */
    content:'';
    background-image: url(image/importantEvent.png);
    display: inline-block;
    background-size: 100%;
    width:15px;
    height:15px;
    margin-right: 5px;
}
/* Main log part end */
/* Footer start */
footer div {
    border-top: solid;
    display: flex;
    justify-content: flex-end;
}
footer div a {
    text-decoration-line: none;
    color: #000;
}
footer div p::after {
    content:'';
    background-image: url(image/junologo.jpg);
    display: inline-block;
    background-size: 100%;
    width:25px;
    height:25px;
    margin-left: 5px;
}
/* Footer end */

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    /* Body Wrap */
    body {
        text-align: center;
        padding: 2vh 5vw;
        width:90vw;
    }
    /* For all button */
    button {
        font-size: 1.5vh;
    }
    /* Header start */
    header {
        margin-bottom: 5vh;
    }
    .headerLeftSide p {
        font-size: 2vh;
    }
    .headerLeftSide p::before {
        width:2vh;
        height:2vh;
        margin-right: 1vw;
    }
    .themeChanging,
    .languageChanging {
        margin-right: 1vw;
    }
    .themeDropdown li,
    .languageDropdown li {
        width:20vw;
    }
    .themeChanging .themeLogo::before, 
    .languageButton::before,
    .greenThemeSpan,
    .blueThemeSpan,
    .pinkThemeSpan,
    .englishLanguage button::before,
    .chineseLanguage button::before {
        width:1.5vh;
        height:1.5vh;
        margin-right: 1vw;
    }
    .themeDropdown ul,
    .languageDropdown ul {
        margin-top: 1vh;
    }
    /* Header end */
    /* Main quick access button start */
    .lunchTime,
    .coffeeTime {
        margin-right:3vw;
    }
    .lunchTime::before,
    .workBreak::before, 
    .coffeeTime::before,
    .pomodoro::before {
        width:1.5vh;
        height:1.5vh;
        margin-right: 1vw;
    }
    /* Main quick access button end */
    /* Main time screen start */
    .timeScreen {
        margin:3vh auto;
    }
    .timeScreen p {
        font-size: 9vh;
    }
    /* Main time screen end */
    /* Main control panel start */
    .startButton::before,
    .clearupButton::before,
    .reduceTime::before,
    .addTime::before {
        width:1.5vh;
        height:1.5vh;
        margin-right: 1vw;
    }
    /* Main control panel end */
    /* Main time input start */
    .timeType {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .inputTime {
        margin-bottom: 2vh;
    }
    #inputMinute,
    #inputSecond {
        width:4vw;
        height: 3vh;
    }
    .inputTime input {
        height: 3vh;
        margin-left: 1vw;
        font-family: 'Patrick Hand', Arial;
        border-radius: 0;
        border-style: solid;
        background-color: rgb(239, 225, 206);
    }
    .inputTime div p {
        height: 1vh;
    }
    .timeType div p {
        margin-right: 1vw;
        font-size: 1.5vh;
    }
    .colonSpace {
        margin-left: 1vw;
    }
    /* Main time input end */
    /* Main log part start */
    .eventLog>p::before,
    .cleanLog::before,
    .importantstyle p:after {
        width:1.5vh;
        height:1.5vh;
        margin-right: 1vw;
    }
    .cleanLog {
        margin: 1vh 0;
    }

    .importantButton {
        margin: 1vh 0 1vh 1vw;
    }
    /* Main log part end */
    /* Footer start */
    footer div p::after {
        width:1.5vh;
        height:1.5vh;
        margin-right: 1vw;
    }
    /* Footer end */
}

/* Nexus 7 Android 6.0.1 */
@media (max-width: 600px) {
    body {
        padding: 2vh 3vw;
        width:100vw;
    }

    .timeScreen {
        height: 26vh;
        width:80vw;
    }

    .timeScreen p {
        margin-top:8vh;
    }

    #inputMinute,
    #inputSecond {
        width:5vw;
    }

    .forCountdownTime,
    .forAlarmTime,
    .forSubmit {
        font-size:1.5vh;
    }

    .logSection {
        font-size: 1.5vh;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    /* For all button */
    button {
        font-size: 1vh;
    }
    /* Header start */
    header {
        margin-bottom: 5vh;
    }
    .headerLeftSide p {
        font-size: 1.5vh;
    }

    /* Header end */
    /* Main time screen start */
    .timeScreen {
        margin: 3vh auto;
        height: 22vh;
        width:90vw;
    }
    .timeScreen p {
        font-size: 9vh;
        margin-top:6vh;
    }
    /* Main time screen end */
    /* Main time input start */
    #inputMinute,
    #inputSecond {
        width:10vw;
        height: 3vh;
    }

    .timeType div p {
        margin-right: 1vw;
        font-size:1vh;
    }

    .forCountdownTime,
    .forAlarmTime,
    .forSubmit {
        font-size:1vh;
    }
    /* Main time input end */
    /* Log section start */
    .logSection {
        font-size: 1vh;
    }
    /* Log section end */
    /* Footer start */
    footer div p {
        font-size:1vh;
    }
    /* Footer end */
}